html
  head
    title= title
    link(rel='stylesheet', href='/styles.css') 
  body
    h1.my-title= messages

    // Agregar un div con una clase y contenido
  div.my-div

    h2 Caba침as Las Rocas
    p Les traemos noticias para celebrar el dia del amigo

    div.nested-div
      p Este p치rrafo est치 dentro del div anidado

    img.container-image(src='images.jpg', alt='Descripci칩n de la imagen')

    button#btn-get Hacer solicitud GET

    h1(id='message') 
    p(id='additionalMessage') 

    script(src='script.js')


